{% extends '_base.html' %}

{% block page_titel %}لیست کتاب ها{% endblock page_titel %}
{% block content %}
    <h1>{{ book.title }}</h1>
    <P>{{ book.description }}</P>
    <P>{{ book.author }}</P>
    <p>{{ book.price }}</p>
    <a href="{% url 'book_update' book.id %}"><input type="submit" class="btn btn-info" value="ویرایش"><a/>
        <a href="{% url 'book_delete' book.id %}"><input type="submit" class="btn btn-danger" value="حذف"><a/>
    </form>
            <br>
            <a href="{% url 'book_list' %}">لیست کتاب ها</a>
{% endblock content %}